.stylegan2-cache
__pycache__
.ipynb_checkpoints

# /my/dateset/*
# !/my/dataset/.gitkeep

/my/vector/*
!/my/vector/.gitkeep
/my/gif/*
!/my/gif/.gitkeep
/my/real_images/*
!/my/real_images/.gitkeep
/my/transitions/*
!/my/transitions/.gitkeep

/my/pic

/networks/*
!/networks/.gitkeep
