__pycache__
.ipynb_checkpoints

/save_image/encode1/*
!/save_image/encode1/.gitkeep

/weight_files/pytorch/*
!/weight_files/pytorch/.gitkeep

/weight_files/tensorflow/*
!/weight_files/tensorflow/.gitkeep

/weight_files/tensorflow/*
!/weight_files/tensorflow/.gitkeep

/morph_result/*
!/morph_result/.gitkeep

/save_result/*
!save_result/.gitkeep

# /al_img/*
# !/al_img/.gitkeep

# /img/*
# !/img/.gitkeep

# /img_color/*
# !/img_color/.gitkeep

